// Colors
$border-form-color: #eaecf0;

$header-color: #ffd3a8;
$black-color: #101828;
$gray-color: #475467;
$dark-gray-color: #344054;
$green-color: #029873;
$more-dark-gray-color: #d0d5dd;

// Font
$font-family: "Montserrat", sans-serif;
